
.form{
    // width: 100%;
    height: 167px;
    border: 20px solid #f5f5f5;
    
}
.top{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-around;
    
}
.input1{
    width: 25%;
}
.select{
    width: 20%;
}
.button{
    display: flex;
    justify-content: start;
    margin-top: 50px;
}
.sub{
    margin-right: 10px;
}
.work{
    color: rgba(0,0,0,.45);
}
.model{
    width: 480px;
    height: 150px;
}
.span{
    color: #e7eaee;
    padding: 5px;
}