.big {
  display: flex;
  height: 100%;
  background: #eee;
}
.sec {
  width: 800px;
  border: 1px solid #000;
  padding: 0 30px;
  background: #fff;
}
.h1 {
  font-size: 25px;
  font-weight: 400;
}
.h1 ul li:hover {
  color: red;
}
.p {
  font-size: 20px;
  font-weight: 400;
}
.p1 {
  font-size: 15px;
  list-style: disc;
  margin-left: 30px;
  font-weight: 800;
  margin-right: 30px;
  line-height: 30px;
}
.top {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #000;
}
.top > span:first-child {
  font-size: 20px;
}
.top > span:nth-child(2) {
  font-size: 15px;
}
.right {
  margin-left: 2%;
  width: 35%;
}
.right .right_top {
  position: sticky;
  top: 20px;
  width: 320px;
  background: #fff;
  font-size: 14px;
  padding: 10px;
}
.right .right_top h3 {
  border-bottom: 1px solid #000;
  font-weight: 900;
}
.right .right_bottom {
  position: sticky;
  top: 310px;
  width: 320px;
  background: #fff;
  font-size: 14px;
  padding: 10px;
  margin-top: 10px;
}
.right .right_bottom h3 {
  border-bottom: 1px solid #000;
  font-weight: 900;
}
.right .right_bottom .bottomitem {
  display: flex;
  flex-direction: row;
  width: 320px;
  flex-wrap: wrap;
}
