 * {
   margin: 0;
   padding: 0;
 }

 .big {

   width: 100%;
   height: 100%;
   background-color: var(--bg-hei);
 }

 .bigOne {
   margin-top: 20px;
   width: 1140px;
   height: 100%;
   background-color: var(--bg-hei);

   margin: 0 auto;

 }

 .bigOneCenter {
   margin-top: 20px;
   display: flex;
   margin: 0 auto;
   width: 810px;
   float: left;

 }

 // ==========左边======================
 .sec {
   margin-top: 20px;
   width: 800px;
   padding: 0 30px;
   background-color: var(--bg-lan);
 }

 .h1 {
   font-size: 25px;
   font-weight: 400;
   color: var(--se-aaa);
 }

 .h1 ul li:hover {
   color: red;
 }

 .p {
   font-size: 20px;
   font-weight: 400;
 }

 .p1 {
   font-size: 15px;
   list-style: disc; //实心圆
   margin-left: 30px;
   font-weight: 800;
   margin-right: 30px;
   line-height: 30px;
 }

 .top {
   width: 100%;
   height: 100px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-bottom: 1px solid #000;
 }

 //  归档 文字
 .top>span:first-child {
   font-size: 20px;
 }

 //  共计33篇 文字
 .top>span:nth-child(2) {
   font-size: 15px;
 }

 // ==========右边===================
 .right { 
   margin-top: 20px;
   width: 325px;
   float: right;
   background-color: var(--bg-hei);
   padding: 0 10px;

   // height: 100%;
   // 推荐阅读
   .right_top {
     position: sticky; //粘性定位
     top: 20px;
     width: 320px;
     background: #fff;
     font-size: 14px;
     padding: 10px;

     h3 {
       border-bottom: 1px solid #000;
       font-weight: 900;
     }
   }

   // 文章标签
   .right_bottom {
     position: sticky; //粘性定位
     top: 310px;
     width: 320px;
     background: #fff;
     font-size: 14px;
     padding: 10px;
     margin-top: 10px;

     h3 {
       border-bottom: 1px solid #000;
       font-weight: 900;
     }

     .bottomitem {
       display: flex;
       flex-direction: row;
       width: 320px;
       flex-wrap: wrap;
     }
   }
 }
