// 全局样式，常用于覆盖三方样式
:global{
  .title {
    background: rgb(121, 242, 157);
  }
}
// 局部样式，常用于业务内部使用，防止全局污染
:local{
  .title {
    background: rgb(121, 242, 157);
  }
}

// 默认是局部样式
.title {
  background: rgb(121, 242, 157);
}

.page{
  // composes: title;
  color: red;
}
.about{
  background: var(--bg-body)
}
.top{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.img{
  width: 768px;
  height: 512px;
  text-align: center;
  margin: 0 auto;
}
.main{
    padding: 1rem 0;
    border-top: 1px solid var(--border-color);
    background: var(--bg-hei);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 16px;
 }

.h2{
  color: var(--se-aaa);
  display: flex;
  align-content: center;
  justify-content: center;
  margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.5em;
    font-weight: bold;
}
.li{
    padding: 16px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin-top: 1rem;
    background-color: var(--bg-lan);

    width: 768px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 15px;
}
.span{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background-color: sandybrown;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}
.com{
  margin-bottom: 30px;
    color: var(--main-text-color);
    font-weight: 500px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: .06em;
    margin-top: 30px;
}
.publish{
  background-color: var(--bg-lan);
  vertical-align: middle;
  width: 768px;
  height: 220px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}
.aboutContent{
   display: flex;
   width: 736px;
   height: 142px;
   background-color: var(--bg-lan);
}
.low{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.btn{
   width: 60px;
  height: 30px;
  border: none;
  
  background: #f5f5f5;
  border-color: #d9d9d9;
  text-shadow: none;
  box-shadow: none;
}
.express{
  width: 60px;
  height: 30px;
  border: none;
 
  background: #f5f5f5;
  border-color: #d9d9d9;
  text-shadow: none;
  box-shadow: none;
}
.user{
  margin-top: 10px;
}
.aboutInput{
  height: 40px;
  width: 80%;
  margin-left: 20px;
}
.active{
  color: red;
  font-size: large;
}
.recommendLi{
  // border: 1px solid #000;
  display: flex;
  flex-direction: column;
  width: 768px;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
}
.aboutheader{
  height: 30px;
  display: flex;
  justify-content: start;
  line-height: 30px;
  color: var(--disable-text-color);
}
.aboutmain{
  display: flex;
  padding-left: 20px;
}
.recommendImg{
  width: 190px;
  height: 100px;
  // border: 1px solid #000;
}
.aboutRight{
  display: flex;
  flex-direction: column;
  align-content: initial;
}
.under{
  display: flex;
}
.aboutPanel{
  font-size: smaller;
  margin-top: -10px;
  border: none;
  background-color: #fff;
  padding: 0;
}
.huifu{
  display: flex;
}
.aboutout{
  width: 664px;
  height: 30px;
}
.antAvatarI {
  position: absolute;
  left: 50%;
  transform-origin: 0 center;
}
.revertII{
  width: 100%;
  color: rgba(0,0,0,0.85);
  height: 150px;

}
.revertI textarea{
  border: 1px solid #eee;
  background-color: var(--bg-lan);
  outline: none;
  color: var(--se-aaa);

}
.footer div span{
  color: var(--se-aaa);
}
.revertII footer{
  display: flex;
  justify-content: space-between;
}
.box_da:nth-child(1) {
  height: 100px;
  .box_left {
    display: none;
  }

  .box_right {
    height: 40px;
    line-height: 40px;
  }
}

.box_da:hover {
  cursor: pointer;
  a {
    color: red;
  }
}

.box_da {
  width: 100%;
  float: left;
  padding: 0 20px;
  height: 170px;
  border-bottom: 1px solid rgb(240, 242, 247);

  h2 {
    height: 40px;
    line-height: 40px;

    a {
      color: #000;
      font-size: 17px;
      font-weight: 700;
    }

    a:hover {
      color: red;
    }


    span {
      font-size: 12px;
      color: var(--se-aaa);
      padding: 0 10px;
    }
  }

  .box_left {
    width: 28%;
    height: 110px;
    float: left;
  }

  .box_kong {
    width: 100px;
    height: 100px;
  }

  .box_right {
    width: 72%;
    height: 110px;
    float: left;
    position: relative;

    p {
      font-size: 13px;

      span {
        padding: 0 10px;
        color: var(--se-aaa);
      }
    }
  }

  .box_down {
    position: absolute;
    bottom: 0;
  }
}
.aboutI{
  width: 810px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #fff;
}.imgI{
  width: 190px;
  height: 100px;
}
.btn1{
  width: 60px;
  height: 30px;
  border: none;
  display: block;
  background: #f5f5f5;
  border-color: #d9d9d9;
  text-shadow: none;
  box-shadow: none;
}