.message {
  background-color: #e7eaee;
}

@media (min-width: 1200px) {
  .message {
    width: 1140px;
  }
}

@media (min-width: 992px) {
  .message {
    width: 970px;
  }
}

@media (min-width: 768px) {
  .message {
    width: 768px;
  }
}

.container_ms {
  width: 100%;
  height: 100px;
  background-color: var(--bg-second);
}

.container_mess {
  width: 40%;
  height: 100px;
  margin: auto;
  padding-top:20px;
}

.container_mess h2 {
  text-align: center;
  font-size: 25px;
}

.container_mess p {
  text-align: center;
  margin: 0 !important;
}

.container_mess p strong {
  font-size: 15px;
}

.comment_on_reading {
  background-color: var(--bg-hei);
}

.comment_on_reading .comment {
  margin: auto;
  background-color: var(--bg-hei);
  margin-top: 20px;
}

._14zvEeg141WRt1wf5S37nf {
  display: flex;
}

._2Mfm5YZlUu-Qe7c9dPeV7w {
  display: flex;
}

.comment .resd {
  text-align: center;
  font-size: 16px;
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: var(--bg-hei);
}

.comment_box {
  width: 100%;
  height: 250px;
  background-color: #fff;
}

._1f7ebMJKow4NcuDVTBnvOc._3G7_JYLS4EIxTgILiJm_A5 {
  padding: 16px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin-top: 1rem;
}

._1f7ebMJKow4NcuDVTBnvOc {
  background-color: var(--bg-second);
  background-color: #fff;
}

.ant-avatar {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 18px;
  background-color: rgb(82, 196, 26);
}

.ant-avatar-string {
  font-size: 18px;
  line-height: 32px;
  transform: scale(1) translateX(-50%);
}

._1f7ebMJKow4NcuDVTBnvOc._3G7_JYLS4EIxTgILiJm_A5 main {
  padding: 0px 0px 0px 40px;
}

._1f7ebMJKow4NcuDVTBnvOc._3G7_JYLS4EIxTgILiJm_A5 main div p {
  line-height: 30px;
  text-align: center;
  background-color: #fff;
}

._12545nrbvufhj>header {
  display: flex;
}

.ant-back-top-content {
  width: 40px;
  height: 40px;
  overflow: hidden;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, .85);
  border-radius: 20px;
  transition: all .3s;
}

.ant-avatar {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background: #ccc;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  background-color: rgb(82, 196, 26);
}

._12545nrbvufhj>header ._3xprCsLyoqZkArtvYiuAJU {
  display: flex;
}

._1f7ebMJKow4NcuDVTBnvOc>header ._3xprCsLyoqZkArtvYiuAJU {
  color: var(--main-text-color);
  padding: 0 8px;
}

.ant-pagination {
  line-height: 50px;
}

/* 颜色 */
._14zvEeg141WRt1wf5S37nf {
  width: 100%;
  margin: auto;
  color: var(--disable-text-color);
}

/* 回复 */
._14zvEeg141WRt1wf5S37nf_children {
  width: 90%;
  margin: auto;
  margin-top: 5px;
}

/* 分页 */
.page {
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 10px;
}

.recommends {
  width: 100%;
  margin-top: 10px;
  min-height: 500px;
  background-color: #fff;
}

._14zvEeg141WRt1wf5S37nf .sps {
  margin-right: 5px;
}

.ant-popover-inner {
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 2px;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
  box-shadow: 0 0 8px rgba(0, 0, 0, .15)\9;
}

.ant-popover-inner-content {
  padding: 12px 16px;
  color: #000;
}

.SO1DW6R4gpGKoWYBL5g62 {
  display: flex;
  flex-wrap: wrap;
  max-width: 480px;
  height: 240px;
  overflow: auto;
}

.SO1DW6R4gpGKoWYBL5g62 li {
  width: 32px;
  height: 32px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

.message {
  width: 100%;
  height: 100%;
  background-color: var(--bg-hei);

}

.container_mess {
  width: 100%;
  height: 100%;
  margin: auto;
}

.container_mess h2 {
  text-align: center;
  font-size: 25px;
}

.container_mess p {
  text-align: center;
  margin: 0 !important;
}

.container_mess p strong {
  font-size: 15px;
}

@media (min-width: 1200px) {
  .comment_on_reading {
    width: 1140px;
  }
}

@media (min-width: 992px) {
  .comment_on_reading {
    width: 970px;
  }
}

@media (min-width: 768px) {
  .comment_on_reading {
    width: 768px;
  }
}

.comment_on_reading {
  margin: auto;
  background-color: var(--bg-hei);

}

.comment_on_reading .comment {
  min-height: 800px;
  margin: auto;
  background-color: var(--bg-hei);
  margin-top: 20px;
}

.comment .resd {
  text-align: center;
  font-size: 16px;
  width: 100%;
  height: 70px;
  line-height: 70px;
}

.comment_box {
  width: 100%;
  height: 250px;
  background-color: var(--bg-lan);
}

textarea.ant-input {
  height: 100px;
}

.N1BwmgIkZZbNoeNN_FRbs>footer {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

._13J4GEYHDRu5MejyviLpnU {
  border-radius: var(--border-radius);
  background-color: var(--bg-second);
  box-shadow: var(--box-shadow);
  padding: 16px;
  background-color: var(--bg-lan);
}

._1f7ebMJKow4NcuDVTBnvOc._3G7_JYLS4EIxTgILiJm_A5 {
  padding: 16px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin-top: 1rem;
  background-color: var(--bg-lan);

}

._1f7ebMJKow4NcuDVTBnvOc {
  background-color: var(--bg-second);
  background-color: #fff;
}

.ant-avatar {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 18px;
  background-color: #52c41a;
}

.ant-avatar-string {
  font-size: 18px;
  line-height: 32px;
  transform: scale(1) translateX(-50%);
}

._1f7ebMJKow4NcuDVTBnvOc._3G7_JYLS4EIxTgILiJm_A5 main {
  padding: 0px 0px 0px 40px;
}

._1f7ebMJKow4NcuDVTBnvOc._3G7_JYLS4EIxTgILiJm_A5 main div p {
  /* height: 30px; */
  line-height: 30px;
  text-align: center;
  background-color: #fff;
}

.ant-avatar {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background: #ccc;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  background-color: #52c41a;
}

._1f7ebMJKow4NcuDVTBnvOc>header ._3xprCsLyoqZkArtvYiuAJU {
  color: var(--main-text-color);
  padding: 0 8px;
}

.ant-pagination {
  line-height: 50px;
}

/* 颜色 */
._14zvEeg141WRt1wf5S37nf {
  width: 100%;
  margin: auto;
  color: var(--disable-text-color);
}

/* 回复 */
._14zvEeg141WRt1wf5S37nf_children {
  width: 90%;
  margin: auto;
  margin-top: 5px;
}

/* 分页 */
.page {
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: var(--bg-lan);
  margin: 0 auto;
  margin-top: 10px;
}

.recommends {
  width: 100%;
  margin-top: 10px;
  min-height: 500px;
  background-color: #fff;
}

._14zvEeg141WRt1wf5S37nf .sps {
  margin-right: 5px;
}

/* 返回顶部 */
.site-back-top-basic {
  color: rgba(64, 64, 64, 0.6);
}

._2Mfm5YZlUu-Qe7c9dPeV7w {
  cursor: pointer;
}

.dxfszrxdcgfvhb {
  display: block;
  height: 155px;
  overflow: hidden;
}

._nbvryeiujk {
  display: none;
  height: 155px;
  overflow: hidden;
}

._1f7ebMJKow4NcuDVTBnvOc>footer ._1oweEwxuizpZY8B_S3-JXP {
  padding-top: 16px;
}

.N1BwmgIkZZbNoeNN_FRbs .TaXtx7NU2ZhkaBRHq0-9o {
  position: relative;
}

.N1BwmgIkZZbNoeNN_FRbs .TaXtx7NU2ZhkaBRHq0-9o textarea {
  border-color: var(--comment-editor-border-color);
  color: var(--main-text-color);
  background-color: var(--bg-second);
  box-shadow: none !important;
}

textarea.ant-input {
  max-width: 100%;
  line-height: 1.5715;
  vertical-align: bottom;
  transition: all .3s, height 0s;
}

.ant-input {
  box-sizing: border-box;
  margin: 0;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: 4px 11px;
  font-size: 14px;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  height: 32px;
  min-height: 32px;
  max-height: 186px;
  overflow-y: hidden;
  resize: none;
}

textarea {
  overflow: auto;
}
