.detail {
  width: 100%;
  height: 100%;
  background: #eee;
}
.detailBox {
  width: 1140px;
  height: 100%;
  background: #eee;
  margin: 0 auto;
}
.ce {
  width: 30px;
  height: 150px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 220px;
  left: 120px;
}
.ce .active {
  color: #f00;
}
.ce i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 22px;
  margin-top: 10px;
  background: #fff;
  text-align: center;
  line-height: 40px;
  position: relative;
}
.ce i span {
  width: 30px;
  height: 15px;
  background: #f00;
  position: absolute;
  border-radius: 12px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 15px;
  top: -10px;
  left: 15px;
}
.mainDetail {
  display: flex;
}
.mainDetail .left {
  width: 70%;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.mainDetail .left img {
  width: 95%;
  height: auto;
  display: inline-block;
  border-radius: var(--border-radius);
  margin-top: 20px;
}
.mainDetail .left .con {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  margin-top: 30px;
}
.mainDetail .left h1 {
  text-align: center;
  line-height: 55px;
  font-weight: 900;
  font-size: 40px;
}
.mainDetail .left .p1 {
  text-align: center;
}
.mainDetail .left p {
  font-size: 14px;
}
.mainDetail .left h2 {
  font-weight: 600;
  margin-top: 60px;
  font-size: 25px;
}
.mainDetail .left .p2 {
  margin-top: 50px;
}
.mainDetail .right {
  flex: 1;
  position: sticky;
  top: 20px;
  padding: 20px;
}
.mainDetail .right .right_top {
  position: sticky;
  top: 20px;
  width: 100%;
  background: #fff;
  font-size: 14px;
  padding: 10px;
}
.mainDetail .right .right_top h2 {
  border-bottom: 1px solid #ddd;
  font-weight: 900;
}
.mainDetail .right .right_top ul li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mainDetail .right .right_top ul li:hover {
  color: #f00;
}
.mainDetail .right .right_bottom {
  position: sticky;
  top: 317px;
  width: 100%;
  font-size: 14px;
  padding: 10px;
  margin-top: 17px;
}
.mainDetail .right .right_bottom ul {
  padding-left: 10px;
}
.mainDetail .right .right_bottom ul li {
  width: 100%;
  list-style-type: disc;
}
.mainDetail .right .right_bottom ul li:hover {
  color: #f00;
  background: rgba(248, 249, 250, 0.5);
}
.mainDetail .right .right_bottom h3 {
  border-bottom: 1px solid #ddd;
  font-weight: 900;
}
.text {
  margin-top: 50px;
}
.text .textBtn {
  display: flex;
  justify-content: space-between;
}
