.detail {
    width: 100%;
    height: 100%;
    background: var(--bg-hei);
  }
  
.detailBox{
  width: 1140px;
  height: 100%;
  background: var(--bg-hei);
  margin: 0 auto;
}
  .ce {
    width: 30px;
    height: 150px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 220px;
    left: 120px;
   
    .active {
      color: #f00;
    }
  
    i {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      font-size: 22px;
      margin-top: 10px;
      background: #fff;
      text-align: center;
      line-height: 40px;
      position: relative;
  
      span {
        width: 30px;
        height: 15px;
        background: #f00;
        position: absolute;
        border-radius: 12px;
        font-size: 12px;
        color: #fff;
        text-align: center;
        line-height: 15px;
        top: -10px;
        left: 15px;
      }
    }
  }
  .mainDetail { 
    display: flex; 
    .left {
      width: 70%;
      background: var(--bg-lan);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
     margin-top: 20px;
      img {
        width: 95%;
        height: auto;
        display: inline-block;
        border-radius: var(--border-radius);
        margin-top: 20px;
      }
      .con{
        width: 80%;
        height: 100%; 
        margin: 0 auto;
        margin-top: 30px;
      }
      h1 {
        text-align: center;
        line-height: 55px;
        font-weight: 900;
        font-size: 40px;
        color: var(--se-aaa);

      }
      .p1{
        text-align: center;
      }
      p { 
        font-size: 14px; 
      }
  
      h2 {
        font-weight: 600;
        margin-top: 60px;
        font-size: 25px;
        color: var(--se-aaa);

      }
  
      .p2 {
        margin-top: 50px;
      }
    }
  
    .right {
      flex: 1; 
      // width: 20%;
      position: sticky;
      top: 20px;
      padding: 20px;
  
      .right_top {
        position: sticky;
        top: 20px;
        width: 100%;
        background: var(--bg-hei);
        font-size: 14px;
        padding: 10px;
  
        h2 {
          border-bottom: 1px solid #ddd;
          font-weight: 900;
        }
  
        ul {
          li {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          li:hover{
            color: #f00; 
        }
        }
      }
  
      .right_bottom {
        position: sticky;
        top: 317px;
        width: 100%;
        font-size: 14px;
        padding: 10px;
        margin-top: 17px;
        ul{
            padding-left: 10px;
          li{
              width: 100%;
              list-style-type: disc;
          }
          li:hover{
              color: #f00;
              background: rgba(248,249,250,0.5);
          }
        }
        h2{
          color: var(--se-aaa);
        }
        h3 {
          border-bottom: 1px solid #ddd;
          font-weight: 900;
          color: var(--se-aaa);

        }
      }
    }
  }
  .text{
    margin-top: 50px;

    .textBtn{
      display: flex;
      justify-content: space-between;
     }
  }