// 文章页面样式
* {
  margin: 0;
  padding: 0;
}

.home_da {
  width: 100%;
  height: 100%;
  background-color: var(--bg-hei);

}

.home {
  width: 100%;
  height: 100%;
  background-color: var(--bg-hei);
  padding-top: 20px;

  // 中间大盒子
  .middle {
    width: 1140px;
    height: 100%;
    background-color: var(--bg-hei);
    margin: 0 auto;

    //左边盒子
    .middle_left {
      float: left;
      width: 810px;
      height: 100%;
      background-color: var(--bg-hei);

      // 文章-轮播图
      .slideshow {
        width: 810px;
        height: 330px;
        background-color: var(--bg-lan);

        div {
          position: relative;

          .zhezhaoceng {
            position: absolute;
            top: 0;
            width: 790px;
            height: 320px;
            margin: 5px 10px;
            background-color: rgba(29, 28, 28, 0.5);
            cursor: pointer;

            .ceng {
              height: 80px;
              width: 100%;
              text-align: center;
              vertical-align: middle;
              margin-top: 120px;
            }

            h2,
            p {
              color: #fff;
            }
          }
        }

        img {
          width: 790px;
          height: 320px;
          margin: 5px 10px;
          cursor: pointer;
        }
      }

      // 分类文章样式
      .classify_title {
        width: 810px;
        height: 100px;
        background-color: var(--bg-lan);
        // background-color: aqua;
        padding: 10px 0;

        p {
          width: 100%;
          height: 30px;
          text-align: center;
          
          span {
            color: red;
            font-weight: 500;
            font-size: 25px;
          }
        }
      }

      // 下侧列表样式
      .bottomlist {
        width: 810px;
        height: calc(100% - 330px);
        background-color: var(--bg-lan);
        margin-top: 20px;
        float: left;

        img {
          width: 190px;
          height: 100px;
        }
      }

      .bottomlist2 {
        width: 810px;
        height: 100%;
        background-color: var(--bg-lan);
        margin-top: 20px;
        float: left;
        margin-bottom: 20px;
      }

      img {
        width: 190px;
        height: 100%;
      }
    }

    // 轮播图详情页面
    .particulars {
      width: 810px;
      height: 100%;
      background-color: var(--bg-lan);
    }

    .bottomlist3 {
      width: 810px;
      height: 100px;
      background-color: var(--bg-lan);
      margin-top: 20px;
      float: left;
    }

    // 右侧列表
    .middle_right {
      float: right;
      width: 310px;
      // height: 500px;
      position: sticky;
      top: 0;
      background-color: var(--bg-hei);

      .rightlist1 {
        width: 100%;
        height: 260px;
        background-color: var(--bg-lan);
        margin-bottom: 10px;

        ul {
          padding: 0 10px;
        }

        ul li:hover {
          color: red;
          background-color: #eee;
        }
      }

      .rightlist2 {
        width: 100%;
        height: 230px;
        background-color: var(--bg-lan);
      }
    }
  }
}

// 文章下侧列表，路由样式
.category {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #ccc;

  a {
    color: var(--se-aaa);
    padding: 0 15px;
    font-size: 13px;
  }
}

.box_da:nth-child(1) {
  height: 100px;

  .box_left {
    display: none;
  }

  .box_right {
    height: 40px;
    line-height: 40px;
  }
}

.box_da:hover {
  cursor: pointer;

  a {
    color: red;
  }
}

.box_da,
.box_daa {
  width: 100%;
  float: left;
  padding: 0 20px;
  height: 170px;
  border-bottom: 1px solid rgb(240, 242, 247);

  h2 {
    height: 40px;
    line-height: 40px;
    a {
      color: var(--se-aaa);
      font-size: 17px;
      font-weight: 700;
    }

    a:hover {
      color: red;
    }


    span {
      font-size: 12px;
      color: rgb(133, 144, 166);
      padding: 0 10px;
    }
  }

  .box_left {
    width: 28%;
    height: 110px;
    float: left;
  }

  .box_kong {
    width: 100px;
    height: 100px;
  }

  .box_right {
    width: 72%;
    height: 110px;
    float: left;
    position: relative;

    p {
      font-size: 13px;

      span {
        padding: 0 10px;
        color: rgb(133, 144, 166);
      }
    }
  }

  .box_down {
    position: absolute;
    bottom: 0;
  }
}

.rightlist1 h4 {
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.rightlist2 h4 {
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.rightlist2 div {
  display: inline-block;
  padding: 5px;
  margin: 10px;
  border: 1px solid rgb(240, 242, 247);
  font-size: 13px;
}

.rightlist2 div:hover {
  color: red;
  border: 1px solid red;
}
