.page_s {
  width: 100%;
  height: 100%;
  background-color: #eff2f5;
  overflow-y: auto;
}
.page_s header {
  position: sticky;
  padding: 12px 24px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  z-index: 100;
  height: 60px;
  border-top: 1px solid #f4f5f6;
}
.page_s header .ant_breadcrumb {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
}
.page_s header .ant_breadcrumb a {
  color: rgba(0, 0, 0, 0.45);
}
.page_s header .ant_breadcrumb span:nth-child(2) .ant_breadcrumb_link a {
  color: #000;
}
.page_s header .ant_breadcrumb .ant_breadcrumb_separator {
  margin: 0 8px;
  color: rgba(0, 0, 0, 0.85);
}
.page_s main {
  flex: 1;
  padding: 24px;
  overflow: auto;
}
.page_s main ._3rOJucTZ4pIum7etE1HHJw .top_page {
  display: flex;
  flex-direction: column;
  height: 150px;
  background-color: #fff;
}
.page_s main ._3rOJucTZ4pIum7etE1HHJw .top_page .top_top {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.page_s main ._3rOJucTZ4pIum7etE1HHJw .top_page .top_top div {
  flex: 1;
  margin-left: 20px;
}
.page_s main ._3rOJucTZ4pIum7etE1HHJw .top_page .top_top div input {
  width: 200px;
}
.page_s main ._3rOJucTZ4pIum7etE1HHJw .top_page .top_bot {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.page_s main ._3rOJucTZ4pIum7etE1HHJw .top_page .top_bot button {
  margin-right: 10px;
}
.page_s main ._3rOJucTZ4pIum7etE1HHJw .top_bottom {
  margin-top: 20px;
  background-color: #fff;
}
.page_s main ._3rOJucTZ4pIum7etE1HHJw .top_bottom .top_btn {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
