.page_s{
    width: 100%;
    height: 100%;
    background-color:rgb(239,242,245);
    overflow-y: auto;
    header {
        position: sticky;
        padding: 12px 24px;
        background: #fff;
        box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
        z-index: 100;
        height: 60px;
        border-top: 1px solid rgb(244,245,246);
        .ant_breadcrumb{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            color: #000;
            font-variant: tabular-nums;
            line-height: 1.5715;
            list-style: none;
            font-feature-settings: "tnum";
            color: rgba(0,0,0,.85);
            font-size: 14px;
            a {
                color: rgba(0,0,0,.45);
            }
           span:nth-child(2){
            .ant_breadcrumb_link a {
                color: #000;
            }
           }
            .ant_breadcrumb_separator{
                margin: 0 8px;
                color: rgba(0,0,0,.85);
            }
        }
    }
    main{
        flex: 1;
        padding: 24px;
        overflow: auto;
        ._3rOJucTZ4pIum7etE1HHJw{
            .top_page{
                display:flex;
                flex-direction: column;
                height: 150px;
                background-color: #fff;
                .top_top{
                    flex:1;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    div{
                        flex: 1;
                        margin-left:20px;
                        input{
                            width: 200px;
                        }
                    }
                }
                .top_bot{
                    flex: 1;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    button{
                        margin-right: 10px;
                    }
                } 
            }
            .top_bottom{
                   margin-top: 20px;
                   background-color: #fff;
                   .top_btn{
                       height: 70px;
                       display: flex;
                       align-items:center;
                       justify-content: flex-end;
                   }
               }
        }
    }
}