.main {
    margin-top: 28px;
    background: white;
  }
  
  .top {
    display: flex;
    justify-content: space-between;
  }
  
  .imgBox {
    width: 100%;
    height: auto;
    display: flex;
  }
  
  .ant-card-body {
    height: 117px;
  }
  
  .ant-card-bordered {
    width: 280px;
    margin-right: 1.4%;
  
    .ant-card-cover {
      width: 100%;
      height: 120px;
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
  
      }
    }
  
  }
  .bottom {
    margin-top: 25px;
    text-align: right;
  }
