.layer{
  // width: 100%;
  // height: 100%;
  position: fixed;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  display: flex;
  justify-content: center;
  z-index: 10;
  .layerr{
      width: 1140px;
      height: 400px;
  }
}

.layer .topp{
  width: 90%;
  height: 100px;
  line-height: 100px;
  margin: 0 20px;
}

.layer .topp h1{
  float: left;
}

.layer .topp b{
  float: right;
  font-size: 20px;
  font-weight: bolder;
}

.layer .search{
  width: 90% ;
  height: 40px ;
  margin: 0 20px;
  white-space: nowrap;
}

.search input{
  width: 100%;
  height: 100%;
}

.ant-input{
  min-height: 32px !important;
}
