* {
  margin: 0;
  padding: 0;
}

.label {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: #eee;
}

.label_head {
  margin: 0 auto;
  width: 100%;
  height: 500px;
  padding: 0 10px;
}

.label_head_left {
  width: 30%;
  height: 260px;
  background-color: #fff;
  float: left;
  margin: 15px;

  h1 {
    line-height: 50px;
    padding: 0 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }

  input {
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .ant-btn {
    margin-left: 20px;
  }
}

.label_head_right {
  width: 60%;
  height: 200px;
  background-color: #fff;
  float: left;
  margin: 15px;

  h1 {
    line-height: 50px;
    padding: 0 15px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
  }

  .label_box {
    div {
      float: left;
      padding: 5px 10px;
      margin: 10px;
      color: rgb(189, 150, 135);
      border: 1px solid #ccc;
      cursor: pointer;

      &:hover {
        color: #fff;
        background-color: rgb(66, 153, 225);
        border: none;
      }
    }
  }
}
