
.commit_s{
    width: 100%;
    // height: 500px; 
    ._13J4GEYHDRu5MejyviLpnU {
        border-radius: var(--border-radius);
        background-color: var(--bg-second);
        box-shadow: var(--box-shadow);
        padding: 16px;
        background-color: #fff;
         .N1BwmgIkZZbNoeNN_FRbs>footer {
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
        }
        .N1BwmgIkZZbNoeNN_FRbs>footer ._12avHmKjidVRHTuf5Qbd4K:hover {
            color: var(--primary-color);
        
        }
        .N1BwmgIkZZbNoeNN_FRbs>footer ._12avHmKjidVRHTuf5Qbd4K {
            display: flex;
            align-items: center;
        }
      }
      .TaXtx7NU2ZhkaBRHq0-9o,._3D8H76H-ABokj1dp7OR3a4{
        width: 100%;
        height: 150px;
        border: 1px solid rgb(231,234,238);
        position: relative;
        
        
        cursor: pointer;
        }
        .ant-input {
           width: 100%;
           height: 100%;
           position: absolute;
           top: 0;
           left: 0;
           z-index: 1;
        }
      }
    
 
  