.commit_s {
  width: 100%;
  background-color: var(--bg-lan);
}
.commit_s button{
  background-color: var(--bg-lan);
  border: none;
}
.commit_s ._13J4GEYHDRu5MejyviLpnU {
  border-radius: var(--border-radius);
  background-color: var(--bg-second);
  box-shadow: var(--box-shadow);
  padding: 16px;
}
.commit_s ._13J4GEYHDRu5MejyviLpnU .N1BwmgIkZZbNoeNN_FRbs > footer {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  background-color: var(--bg-lan);
}
.commit_s ._13J4GEYHDRu5MejyviLpnU .N1BwmgIkZZbNoeNN_FRbs > footer ._12avHmKjidVRHTuf5Qbd4K:hover {
  color: var(--primary-color);
}
.commit_s ._13J4GEYHDRu5MejyviLpnU .N1BwmgIkZZbNoeNN_FRbs > footer ._12avHmKjidVRHTuf5Qbd4K {
  display: flex;
  align-items: center;
  background-color: var(--bg-lan);
}
.commit_s .TaXtx7NU2ZhkaBRHq0-9o,
.commit_s ._3D8H76H-ABokj1dp7OR3a4 {
  width: 100%;
  height: 150px;
  border: 1px solid #e7eaee;
  position: relative;
  cursor: pointer;


}
.commit_s .ant-input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  
}
