.search {
  width: 100%;
  height: 100%;
  background: #e7eaee;
  padding: 20px;
  overflow-y: hidden;
  overflow-y: auto;
}
.articles_head {
  width: 100%;
  height: 130px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 24px 12px;
}
.articles_head input {
  width: 80%;
}
.articles_head .articles_head_one {
  width: 80%;
  height: 50px;
  line-height: 50px;
}
.articles_head .articles_head_one span {
  float: left;
}
.articles_head .articles_head_one .ant-select {
  width: 75%;
  float: left;
  margin-top: 8px;
}
.articles_head .articles_head_one .biaoti {
  width: 30%;
  float: left;
  margin: 0 15px;
}
.articles_head .articles_head_two {
  width: 100%;
  height: 50px;
  margin-top: 10px;
}
.articles_head .articles_head_two button {
  margin: 0 10px;
  float: right;
}
.tables {
  background-color: white;
  padding: 20px 10px;
  margin-top: 10px;
}
