.articles_head {
  width: 100%;
  height: 130px;
  background-color: #fff;
  font-size: 12px;
}
.articles_head input {
  width: 80%;
}
.articles_head .articles_head_one {
  width: 80%;
  height: 50px;
}
.articles_head .articles_head_one span {
  float: left;
}
.articles_head .articles_head_one .biaoti {
  width: 30%;
  float: left;
  margin: 0 15px;
}
.articles_head .articles_head_two {
  width: 100%;
  height: 50px;
}
.articles_head .articles_head_two button {
  margin: 0 5px;
  float: right;
}
.tables {
  background-color: white;
  padding: 20px 5px;
  margin-top: 30px;
  font-size: 12px;
}
.tables .tablestop {
  display: inline-block;
  width: 15%;
  margin: 4px;
}
.tables .tablestop img {
  width: 91px;
  height: 130px;
}
.tables .tablestop .metaa {
  height: 40px;
  font-weight: none;
  line-height: 40px;
}
.tables .tablesright {
  margin: 10px;
}
.uploadright {
  height: 50px;
  margin-top: 20px;
  float: right;
}
