.articles_head {
  width: 100%;
  height: 130px;
  background-color: #fff;

  font-size: 12px;

  input {
    width: 80%;
  }

  .articles_head_one {
    width: 80%;
    height: 50px;


    span {
      float: left;
    }

    .biaoti {
      width: 30%;
      float: left;
      margin: 0 15px;
    }
  }

  .articles_head_two {
    width: 100%;
    height: 50px;


    button {
      margin: 0 5px;
      float: right;
    }
  }
}

.tables{
    background-color: white;
    padding: 20px 5px;
    margin-top: 30px;
    font-size: 12px;
    .tablestop{
        display: inline-block;
        width:15%;
        margin:4px;
        img{
            width: 91px;
            height: 130px;
        }
        .metaa{
          height: 40px;
          font-weight: none;
          line-height: 40px;
        }
    }
    .tablesright{
        margin: 10px;
        // position: absolute;
        // right: 50px;
    }
}

.uploadright{
  height: 50px;
  margin-top: 20px;
  float: right;
}
