    html,
body,
#root {
  width: 100%;
  height: 100%;
}
.rv_9xUBx9vsH6qbhqqmOc{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  color: #fff;
  font-size: 1.2rem;
  text-align: center; 
}
.rv_9xUBx9vsH6qbhqqmOc img{
   width: 32px;
  height: 32px;
}
.index-main {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-layout {
  width: 100%;
  height: 100%;
}

.ant-layout-sider-children ul {
  margin-bottom: 0;
}

.ant-layout-sider-children ul li {
  line-height: 50px;
}

.logo {
  width: 100%;
  height: 60px;
  color: #fff;
  text-align: center;
}

.logo p {
  width: 100%;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
}

.logo button {
  width: 85%;
  height: 40px;
  font-size: 16px;
}

.ant-layout-header span {
  margin-left: 15px;
  cursor: pointer;
}
footer {
  padding: 20px 0;
  color: rgba(0,0,0,.65);
  text-align: center;
  ._24OUzUa2SjssS1_EshUigc {
    display: inline-flex;
    flex-wrap: nowrap;
    margin: 8px 0 16px;
    li:first-of-type {
      margin-top: 1px;
      ._283jLEQ1DhWAe2fw-CeVAf {
        color: inherit;
        .anticon {
          font-size: 25px;
          display: inline-block;
          color: inherit;
          font-style: normal;
          line-height: 0;
          text-align: center;
          text-transform: none;
          vertical-align: -.125em;
          text-rendering: optimizeLegibility;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
      }
    }
  }
  }
  ._2nq88U0e2iY4tDIjMmuVWA {
    font-size: 10px;
    line-height: 15px;
    a {
      color: #0188fb;
      text-decoration: none;
      background-color: transparent;
      outline: none;
      cursor: pointer;
      transition: color .3s;
      -webkit-text-decoration-skip: objects;
  }
  }
}


 