// 文章页面样式
* {
  margin: 0;
  padding: 0;
}

.home_da {
  width: 100%;
  height: 100%;
  background-color: var(--bg-hei);
  padding-top: 25px;

  // 下侧列表样式
  .bottomlist {
    width: 810px;
    height: calc(100% - 330px);
    background-color: var(--bg-lan);
    margin-top: 20px;
    float: left;

    img {
      width: 190px;
      height: 100px;
    }
  }
}

.box_da:nth-child(1) {
  height: 100px;

  .box_left {
    display: none;
  }

  .box_right {
    height: 40px;
    line-height: 40px;
  }

}

.box_da:hover {
  cursor: pointer;

  a {
    color: red;
  }
}

.box_da {
  width: 100%;
  float: left;
  padding: 0 20px;
  height: 170px;
  border-bottom: 1px solid rgb(240, 242, 247);

  h2 {
    height: 40px;
    line-height: 40px;

    a {
      color: var(--se-aaa);
      font-size: 17px;
      font-weight: 700;
    }

    a:hover {
      color: red;
    }


    span {
      font-size: 12px;
      color: rgb(133, 144, 166);
      padding: 0 10px;
    }
  }

  .box_left {
    width: 28%;
    height: 110px;
    float: left;
  }

  .box_kong {
    width: 100px;
    height: 100px;
  }

  .box_right {
    width: 72%;
    height: 110px;
    float: left;
    position: relative;

    p {
      font-size: 13px;

      span {
        padding: 0 10px;
        color: rgb(133, 144, 166);
      }
    }
  }

  .box_down {
    position: absolute;
    bottom: 0;
  }
}
