.file{
    width: 100%;
    height: 100%;
    // background-color: chartreuse;
    background: #e7eaee;
    padding:20px;
    overflow:hidden;
    overflow-y: auto;
}

.articles_head {
  width: 100%;
  height: 130px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 24px 12px;

  input {
    width: 80%;
  }

  .articles_head_one {
    width: 80%;
    height: 50px;
    line-height: 50px;

    span {
      float: left;
    }

    .ant-select {
      width: 75%;
      float: left;
      margin-top: 8px;
    }

    .biaoti {
      width: 30%;
      float: left;
      margin: 0 15px;
    }
  }

  .articles_head_two {
    width: 100%;
    height: 50px;
    margin-top: 10px;

    button {
      margin: 0 10px;
      float: right;
    }
  }
}

.tables{
    background-color: white;
    padding: 20px 5px;
    margin-top: 10px;
    .tablestop{
        display: inline-block;
        width:265px;
        height: 240px;
        margin:4px;
        img{
            width: 100%;
            height: 140px;
        }
    }
    .tablesright{
        margin: 10px;
        // position: absolute;
        // right: 50px;
    }
}


.drawerchildren{
  font-size: 12px;
  color: rgba(0,0,0,.65);
  b{
    color: rgba(0,0,0,.85);
    font-weight: normal;
  }
  
  img{
    width: 100%;
    height: 360px;
    margin-bottom: 15px;
  }
}
.fileurl{
  i{
    width: 80%;
    display: inline-block;
    padding: 8px;
    border: 1px solid #dedede;
  }
  
}

.drawerchildren .fileurl b{
  float: left;
  width: 15%;
}

.drawerbotton{
  width: 95%;
  position: absolute;
  bottom: 0;
  button{
    float: right;
    margin: 10px;
  }
}

.divv{
    margin-bottom: 10px;
    background-color: white;
}