.file {
  width: 100%;
  height: 100%;
  background: #e7eaee;
  padding: 20px;
  overflow: hidden;
  overflow-y: auto;
}
.tables {
  background-color: white;
  padding: 20px 5px;
}
.tables .tablestop {
  display: inline-block;
  width: 265px;
  height: 240px;
  margin: 4px;
}
.tables .tablestop img {
  width: 100%;
  height: 140px;
}
.tables .tablesright {
  margin: 10px;
}
