.top{
    width: 100%;
    ul{
        li{
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        li:hover span {
            color: red;
            cursor: pointer;
        }
    }
}