.form{
    width: 100%;
    height: 230px;
    border: 20px solid #f5f5f5;
}
.topview{
    display: flex;
    flex-direction: column;
}
.input2{
    width: 20%;
}
.input3{
    width: 20%;
}
.form1{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-top: 130px;
    height: 50px;
}
.form2{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    height: 50px;
}
.button{
    margin-left: 1088px;
}
.sub{
    margin-right: 10px;
}
.delect{
    display: flex;
    justify-content: start;
    color: red;
    border: 1px solid red;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.titleview{
    width: 100%;
    overflow-x: auto;
    border-bottom: 20px solid #f5f5f5;
    border-left:20px solid #f5f5f5; 
    border-right:40px solid #f5f5f5 ;
}
.work1{
    color: rgba(0,0,0,.45);
    margin-left: 20px;
}
