.rightlist2 {
  width: 100%;
  background-color: var(--bg-lan);
}

.rightlist2 h4 {
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  color: var(--se-aaa);
  border-bottom: 1px solid rgb(230, 230, 230);
}

.rightlist2 div {
  display: inline-block;
  height: 27px;
  padding: 2px 7px;
  margin:10px 7px 7px 12px;
  border: 1px solid rgb(240, 242, 247);
  font-size: 13px;
}

.rightlist2 div:hover {
  color: red;
  border: 1px solid red;
  cursor: pointer;
}