* {
  margin: 0;
  padding: 0;
}

.articles {
  width: 100%;
  min-height: 100%;
  overflow-y: auto;
  background-color: #eee;
  padding: 15px 0;
}

.articles_head {
  margin: 0 auto;
  width: 97%;
  height: 130px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 24px 12px;

  input {
    width: 80%;
  }

  .articles_head_one {
    width: 80%;
    height: 50px;
    line-height: 50px;

    span {
      float: left;
    }

    .ant-select {
      width: 75%;
      float: left;
      margin-top: 8px;
    }

    .biaoti {
      width: 30%;
      float: left;
      margin: 0 15px;
    }
  }

  .articles_head_two {
    width: 100%;
    height: 50px;
    margin-top: 10px;

    button {
      margin: 0 10px;
      float: right;
    }
  }
}

.articles_main {
  width: 97%;
  // height: 100%;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 20px 10px;


  button {
    float: left;
    margin: 0 10px;
  }

  .articles_main_one {
    width: 100%;
    height: 50px;

    :last-child {
      float: right;
    }
  }

}

.ant-table-wrapper {
  height: 80%;

  b {
    display: inline-block;
    width: 7px;
    height: 7px;
    line-height: 7px;
    border-radius: 7px;
    margin-right: 7px;
    color: rgb(82, 196, 26);
    background-color: rgb(82, 196, 26);
  }

  .lv {
    width: 25px;
    height: 25px;
    line-height: 25px;
    display: block;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    background-color: rgb(82, 196, 26);
  }

  .hu {
    width: 25px;
    height: 25px;
    line-height: 25px;
    display: block;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    background-color: rgb(235, 47, 150);
  }
}

.ant-pagination-item-active {
  margin-left: 20px;
}

.ant-row {
  line-height: 45px;
}
