.tag{
    width: 100%;
    height: 100%;
    background-color: var(--bg-hei);
    margin: 0 auto;
}

.tag_wrap{
    width: 1140px;
    height: 100%;
    margin: 0 auto;
}


.tag_left{
    float: left;
    width: 65%;
    height: 100%;
    margin-right: 10px;
    margin-top: 20px;
}

.tag_left div{
  background-color: var(--bg-lan);
}

.tag_left .tag_left_one{
    width: 100%;
}

.tag_left .tag_left_two{
    width: 100%;
    margin: 30px 0;

}

.tag_left .tag_left_three{
    width: 100%;

}

.tsg_right{
    float: right;
    width: 30%;
    align-items: center;
    margin-top: 20px;
    position: sticky;
    position: -webkit-sticky;
    top:20px;
    
}

      // 分类文章样式
      .tag_left_one {
        width: 810px;
        height: 100px;
        background-color: #fff;
        padding: 10px 0;
        p {
          width: 100%;
          height: 30px;
          text-align: center;

          span {
            color: red;
            font-weight: 500;
            font-size: 25px;
          }
        }
      }

.tag_left_two h4{
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  color: var(--se-aaa);
  border-bottom: 1px solid rgb(230, 230, 230);
}

.tag_left_two div{
  cursor: pointer;
  display:inline-block;
  padding: 2px 7px;
  margin: 7px 7px 17px 12px;
  border: 1px solid rgb(240, 242, 247);
  font-size: 13px;
}

.tag_left_two div:hover{
  color: red;
  border:1px solid red;
}

.tsg_right div{
  background-color: var(--bg-lan);
}


.rightlist1 h4{
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  border-bottom: 1px solid rgb(230, 230, 230);
}