.upLoad {
  text-align: right;
  margin-bottom: 16px;
  font-size: 1.1em;
}
.image {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.image div {
  width: 158px;
  height: 100%;
}
.image div div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.image div div div:nth-child(2) {
  flex: 1;
  padding: 0;
}
.image div div div:nth-child(2) p {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 65px;
}
.image div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.content {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.bottom {
  text-align: right;
}
