.ammbB8tpRTlzwGu9Q8GNE ul._1PytTgSelvgOTMZR4ckInB li {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  padding-top: 1rem;
  color: var(--second-text-color);
  background-color: var(--bg-lan);

}
.tuijian{
  width: 100%;
  height:260px;
  background-color: var(--bg-lan);
}
.tuijian li{
  height: 35px;
}
.tuijian li{
  padding: 0 10px;
}
._1PytTgSelvgOTMZR4ckInB li:hover {
  color: rgb(255,0,100);
}

.listItem>a {
  font-size: 14px;
}

.tuijian p {
  padding: 0 10px;
  line-height: 40px;
  font-weight: 800;
  border-bottom: 1px solid #ccc;
}
    
