.ammbB8tpRTlzwGu9Q8GNE ul._1PytTgSelvgOTMZR4ckInB li {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  padding-top: 1rem;
  color: var(--second-text-color);
}

.listItem>a {
  font-size: 15px;
}

._1PytTgSelvgOTMZR4ckInB ul {
  padding: 0 10px;
}


