*{
    list-style: none;
}
.workbench_s{
    width: 100%;
    height: 100%;
    background-color:rgb(239,242,245);
    overflow-y: auto;
    header{
        position: sticky;
        top: 0;
        left: 0;
        padding: 12px 24px;
        background: #fff;
        z-index: 100;
        border-top: 1px solid rgb(244,245,246);
         .ant_breadcrumb{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            color: #000;
            font-variant: tabular-nums;
            line-height: 1.5715;
            list-style: none;
            font-feature-settings: "tnum";
            color: rgba(0,0,0,.85);
            font-size: 14px;
        }
        ._356HSOa33WPexiuYnLScFc {
            margin: 12px 0 0;
            color: rgba(0,0,0,.85);
            overflow: hidden;
            font-weight: 600;
            font-size: 20px;
            line-height: 32px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .ant_breadcrumb_link{
            a{
                color: #000;
            }
        }
        .ant_typography {
            color: #000;
            overflow-wrap: break-word;
            h1{
                margin-bottom: .5em;
                color: #333;
                font-weight: 600;
                font-size: 38px;
                line-height: 1.23;
            }
            div {
                margin-bottom: 1em;
            }
        }
    }
    main{
        flex: 1;
        padding: 24px;
        overflow: auto;
        .ant_card {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            color: #000;
            font-size: 14px;
            font-variant: tabular-nums;
            line-height: 1.5715;
            list-style: none;
            font-feature-settings: "tnum";
            position: relative;
            background: #fff;
            border-radius: 2px;
        }
        .ant_card_second{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            color: #000;
            font-size: 14px;
            font-variant: tabular-nums;
            line-height: 1.5715;
            list-style: none;
            font-feature-settings: "tnum";
            position: relative;
            background: #fff;
            margin-top: 20px;
            border-radius: 2px;
            .ant_card_head{
                min-height: 48px;
                margin-bottom: -1px;
                padding: 0 24px;
                color: #333;
                font-weight: 500;
                font-size: 16px;
                background: transparent;
                border-bottom: 1px solid #f0f0f0;
                border-radius: 2px 2px 0 0;
                .ant_card_head_wrapper {
                    display: flex;
                    align-items: center;
                    .ant_card_head_title {
                        display: inline-block;
                        flex: 1;
                        padding: 16px 0;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
            }
            .ant_card_body{
                .ant_row{
                    display: flex;
                    .ant_col{
                        padding: 2rem 1rem;
                        text-align: center;
                        display: block;
                        flex: 0 0 16.66666667%;
                        max-width: 16.66666667%;
                        position: relative;
                        max-width: 100%;
                        min-height: 1px;
                        a{
                            color: #000;
                        }
                    }
                }
            }
        }
        .ant_card_grid{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            color: #000;
            font-size: 14px;
            font-variant: tabular-nums;
            line-height: 1.5715;
            list-style: none;
            font-feature-settings: "tnum";
            position: relative;
            background: #fff;
            border-radius: 2px;
            margin-top: 20px;
            .ant_card_head{
                min-height: 48px;
                margin-bottom: -1px;
                padding: 0 24px;
                color: #333;
                font-weight: 500;
                font-size: 16px;
                background: transparent;
                border-bottom: 1px solid #f0f0f0;
                border-radius: 2px 2px 0 0;
                .ant_card_head_wrapper{
                    display: flex;
                    align-items: center;
                    .ant_card_head_title{
                        display: inline-block;
                        flex: 1;
                        padding: 16px 0;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                    .ant_card_extra{
                        float: right;
                        margin-left: auto;
                        padding: 16px 0;
                        color: #000;
                        font-weight: 400;
                        font-size: 14px;
                        a{
                            color: #000;
                        }
                    }
                }
            }
            .ant_card_body_s{
                width: 100%;
                height: 424px;
                margin: -1px 0 0 -1px;
               
                .ant_card_grid_s{
                    width: 33.3%;
                    background-color: #fff;
                    text-align: center;
                    float: left;
                    padding: 24px;
                    border: 0;
                    border-radius: 0;
                    box-shadow: 1px 0 0 0 #f0f0f0, 0 1px 0 0 #f0f0f0, 1px 1px 0 0 #f0f0f0, inset 1px 0 0 0 #f0f0f0, inset 0 1px 0 0 #f0f0f0;
                    transition: all .3s;
                    ._2kH_Op73GxIfEKgpE8XsRU{
                        display: inline-block;
                        width: 100%;
                        border-radius: 4px;
                        color: inherit;
                        img {
                            display: inline-block;
                            width: 100%;
                            height: 110px;
                            object-fit: cover;
                        }
                        ._3e3i72MtTQGM2jtV7VdUqx {
                            padding: 6px 12px;
                            overflow: hidden;
                            font-weight: 500;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
        .ant_card_three{
            
            margin: 0;
            padding: 0;
            color: #000;
            font-size: 14px;
            font-variant: tabular-nums;
            line-height: 1.5715;
            list-style: none;
            font-feature-settings: "tnum";
            position: relative;
            background: #fff;
            border-radius: 2px;
            .ant_card_head_three{
                margin-top: 20px;
                min-height: 48px;
                margin-bottom: -1px;
                padding: 0 24px;
                color: #333;
                font-weight: 500;
                font-size: 16px;
                background: transparent;
                border-bottom: 1px solid #f0f0f0;
                border-radius: 2px 2px 0 0;
                .ant_card_head_wrapper_three{
                    display: flex;
                    align-items: center;
                    .ant_card_head_title_three{
                        display: inline-block;
                        flex: 1;
                        padding: 16px 0;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                    .ant_card_extra_three {
                        float: right;
                        margin-left: auto;
                        padding: 16px 0;
                        color: #000;
                        font-weight: 400;
                        font-size: 14px;
                        a{
                            text-decoration: none;
                            background-color: transparent;
                            outline: none;
                            cursor: pointer;
                            transition: color .3s;
                            color:#000;
                        }
                    }
                }
            }
        }
        .ant_card_body_three{
            padding: 24px;
            .ant_list{
                box-sizing: border-box;
                margin: 0;
                padding: 0;
                color: #000;
                font-size: 14px;
                font-variant: tabular-nums;
                line-height: 1.5715;
                list-style: none;
                font-feature-settings: "tnum";
                position: relative;
                .ant_spin_nested_loading{
                    position: relative;
                    .ant_spin_container{
                        position: relative;
                        transition: opacity .3s;
                        .ant_list_items{
                            margin: 0;
                            padding: 0;
                            list-style: none;
                            .antlist{
                                display:block;
                                border-bottom: 1px solid #f0f0f0;
                                // display: flex;
                                align-items: center;
                                justify-content: space-between;
                                padding: 12px 0;
                                color: #000;
                            }
                            .ant_list_item_action{
                                float: right;
                                flex: 0 0 auto;
                                margin-left: 48px;
                                padding: 0;
                                font-size: 0;
                                list-style: none;
                                li{
                                    position: relative;
                                    display: inline-block;
                                    padding: 0 8px;
                                    color: rgba(0,0,0,.85);
                                    font-size: 14px;
                                    line-height: 1.5715;
                                    text-align: center;
                                    .ant_divider{
                                        box-sizing: border-box;
                                        margin: 0;
                                        padding: 0;
                                        color: #000;
                                        font-size: 14px;
                                        font-variant: tabular-nums;
                                        line-height: 1.5715;
                                        list-style: none;
                                        font-feature-settings: "tnum";
                                        border-top: 1px solid rgba(0,0,0,.06);
                                        position: relative;
                                        top: -.06em;
                                        display: inline-block;
                                        height: .9em;
                                        margin: 0 8px;
                                        vertical-align: middle;
                                        border-top: 0;
                                    }
                                    ._3PphpW_SlonffnZJnC8v8c{
                                        a{
                                            margin-left: 15px;
                                        }
                                        .div_teare{
                                            // position: relative;
                                            width: 80%;
                                            height: 300px;
                                            border: 1px solid #000;
                                        }
                                        textarea{
                                            // position: absolute;
                                            top: 0;
                                            left: 0;
                                            width: 80%;height: 300px;
                                        }
                                    }
                                }
                                li:first-child {
                                    padding-left: 0;
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}

// :global {
//     .ant-btn{
//         border: none;
//         color:#1890ff;
//         .ant-btn-primary{
//             background-color: #fff;
//             border: none;
//             span{
//                 color:#1890ff;
//             }
//         }
//     }
    
// }