* {
  list-style: none;
}
.workbench_s {
  width: 100%;
  height: 100%;
  background-color: #eff2f5;
  overflow-y: auto;
}
.workbench_s header {
  position: sticky;
  top: 0;
  left: 0;
  padding: 12px 24px;
  background: #fff;
  z-index: 100;
  border-top: 1px solid #f4f5f6;
}
.workbench_s header .ant_breadcrumb {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
}
.workbench_s header ._356HSOa33WPexiuYnLScFc {
  margin: 12px 0 0;
  color: rgba(0, 0, 0, 0.85);
  overflow: hidden;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.workbench_s header .ant_breadcrumb_link a {
  color: #000;
}
.workbench_s header .ant_typography {
  color: #000;
  overflow-wrap: break-word;
}
.workbench_s header .ant_typography h1 {
  margin-bottom: 0.5em;
  color: #333;
  font-weight: 600;
  font-size: 38px;
  line-height: 1.23;
}
.workbench_s header .ant_typography div {
  margin-bottom: 1em;
}
.workbench_s main {
  flex: 1;
  padding: 24px;
  overflow: auto;
}
.workbench_s main .ant_card {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  background: #fff;
  border-radius: 2px;
}
.workbench_s main .ant_card_second {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  background: #fff;
  margin-top: 20px;
  border-radius: 2px;
}
.workbench_s main .ant_card_second .ant_card_head {
  min-height: 48px;
  margin-bottom: -1px;
  padding: 0 24px;
  color: #333;
  font-weight: 500;
  font-size: 16px;
  background: transparent;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 2px 2px 0 0;
}
.workbench_s main .ant_card_second .ant_card_head .ant_card_head_wrapper {
  display: flex;
  align-items: center;
}
.workbench_s main .ant_card_second .ant_card_head .ant_card_head_wrapper .ant_card_head_title {
  display: inline-block;
  flex: 1;
  padding: 16px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.workbench_s main .ant_card_second .ant_card_body .ant_row {
  display: flex;
}
.workbench_s main .ant_card_second .ant_card_body .ant_row .ant_col {
  padding: 2rem 1rem;
  text-align: center;
  display: block;
  flex: 0 0 16.66666667%;
  max-width: 16.66666667%;
  position: relative;
  max-width: 100%;
  min-height: 1px;
}
.workbench_s main .ant_card_second .ant_card_body .ant_row .ant_col a {
  color: #000;
}
.workbench_s main .ant_card_grid {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  background: #fff;
  border-radius: 2px;
  margin-top: 20px;
}
.workbench_s main .ant_card_grid .ant_card_head {
  min-height: 48px;
  margin-bottom: -1px;
  padding: 0 24px;
  color: #333;
  font-weight: 500;
  font-size: 16px;
  background: transparent;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 2px 2px 0 0;
}
.workbench_s main .ant_card_grid .ant_card_head .ant_card_head_wrapper {
  display: flex;
  align-items: center;
}
.workbench_s main .ant_card_grid .ant_card_head .ant_card_head_wrapper .ant_card_head_title {
  display: inline-block;
  flex: 1;
  padding: 16px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.workbench_s main .ant_card_grid .ant_card_head .ant_card_head_wrapper .ant_card_extra {
  float: right;
  margin-left: auto;
  padding: 16px 0;
  color: #000;
  font-weight: 400;
  font-size: 14px;
}
.workbench_s main .ant_card_grid .ant_card_head .ant_card_head_wrapper .ant_card_extra a {
  color: #000;
}
.workbench_s main .ant_card_grid .ant_card_body_s {
  width: 100%;
  height: 424px;
  margin: -1px 0 0 -1px;
}
.workbench_s main .ant_card_grid .ant_card_body_s .ant_card_grid_s {
  width: 33.3%;
  background-color: #fff;
  text-align: center;
  float: left;
  padding: 24px;
  border: 0;
  border-radius: 0;
  box-shadow: 1px 0 0 0 #f0f0f0, 0 1px 0 0 #f0f0f0, 1px 1px 0 0 #f0f0f0, inset 1px 0 0 0 #f0f0f0, inset 0 1px 0 0 #f0f0f0;
  transition: all 0.3s;
}
.workbench_s main .ant_card_grid .ant_card_body_s .ant_card_grid_s ._2kH_Op73GxIfEKgpE8XsRU {
  display: inline-block;
  width: 100%;
  border-radius: 4px;
  color: inherit;
}
.workbench_s main .ant_card_grid .ant_card_body_s .ant_card_grid_s ._2kH_Op73GxIfEKgpE8XsRU img {
  display: inline-block;
  width: 100%;
  height: 110px;
  object-fit: cover;
}
.workbench_s main .ant_card_grid .ant_card_body_s .ant_card_grid_s ._2kH_Op73GxIfEKgpE8XsRU ._3e3i72MtTQGM2jtV7VdUqx {
  padding: 6px 12px;
  overflow: hidden;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.workbench_s main .ant_card_three {
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  background: #fff;
  border-radius: 2px;
}
.workbench_s main .ant_card_three .ant_card_head_three {
  margin-top: 20px;
  min-height: 48px;
  margin-bottom: -1px;
  padding: 0 24px;
  color: #333;
  font-weight: 500;
  font-size: 16px;
  background: transparent;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 2px 2px 0 0;
}
.workbench_s main .ant_card_three .ant_card_head_three .ant_card_head_wrapper_three {
  display: flex;
  align-items: center;
}
.workbench_s main .ant_card_three .ant_card_head_three .ant_card_head_wrapper_three .ant_card_head_title_three {
  display: inline-block;
  flex: 1;
  padding: 16px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.workbench_s main .ant_card_three .ant_card_head_three .ant_card_head_wrapper_three .ant_card_extra_three {
  float: right;
  margin-left: auto;
  padding: 16px 0;
  color: #000;
  font-weight: 400;
  font-size: 14px;
}
.workbench_s main .ant_card_three .ant_card_head_three .ant_card_head_wrapper_three .ant_card_extra_three a {
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
  color: #000;
}
.workbench_s main .ant_card_body_three {
  padding: 24px;
}
.workbench_s main .ant_card_body_three .ant_list {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
}
.workbench_s main .ant_card_body_three .ant_list .ant_spin_nested_loading {
  position: relative;
}
.workbench_s main .ant_card_body_three .ant_list .ant_spin_nested_loading .ant_spin_container {
  position: relative;
  transition: opacity 0.3s;
}
.workbench_s main .ant_card_body_three .ant_list .ant_spin_nested_loading .ant_spin_container .ant_list_items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.workbench_s main .ant_card_body_three .ant_list .ant_spin_nested_loading .ant_spin_container .ant_list_items .antlist {
  display: block;
  border-bottom: 1px solid #f0f0f0;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  color: #000;
}
.workbench_s main .ant_card_body_three .ant_list .ant_spin_nested_loading .ant_spin_container .ant_list_items .ant_list_item_action {
  float: right;
  flex: 0 0 auto;
  margin-left: 48px;
  padding: 0;
  font-size: 0;
  list-style: none;
}
.workbench_s main .ant_card_body_three .ant_list .ant_spin_nested_loading .ant_spin_container .ant_list_items .ant_list_item_action li {
  position: relative;
  display: inline-block;
  padding: 0 8px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  line-height: 1.5715;
  text-align: center;
}
.workbench_s main .ant_card_body_three .ant_list .ant_spin_nested_loading .ant_spin_container .ant_list_items .ant_list_item_action li .ant_divider {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  position: relative;
  top: -0.06em;
  display: inline-block;
  height: 0.9em;
  margin: 0 8px;
  vertical-align: middle;
  border-top: 0;
}
.workbench_s main .ant_card_body_three .ant_list .ant_spin_nested_loading .ant_spin_container .ant_list_items .ant_list_item_action li ._3PphpW_SlonffnZJnC8v8c a {
  margin-left: 15px;
}
.workbench_s main .ant_card_body_three .ant_list .ant_spin_nested_loading .ant_spin_container .ant_list_items .ant_list_item_action li ._3PphpW_SlonffnZJnC8v8c .div_teare {
  width: 80%;
  height: 300px;
  border: 1px solid #000;
}
.workbench_s main .ant_card_body_three .ant_list .ant_spin_nested_loading .ant_spin_container .ant_list_items .ant_list_item_action li ._3PphpW_SlonffnZJnC8v8c textarea {
  top: 0;
  left: 0;
  width: 80%;
  height: 300px;
}
.workbench_s main .ant_card_body_three .ant_list .ant_spin_nested_loading .ant_spin_container .ant_list_items .ant_list_item_action li:first-child {
  padding-left: 0;
}
