
    *, :after, :before {
        box-sizing: border-box;
    }
    ._7uSrmWDB6bM0ckF2ym4He {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #e7eaee;
        .k884VXYdRXgBLJy-GB0Yi {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 80vw;
            height: 40vw;
            box-shadow: 0 2px 8px #f0f1f2;
            border-radius: 4px;
            display: flex!important;
        }
    }
    .k884VXYdRXgBLJy-GB0Yi>div:first-of-type {
        background: #fff;
    }
    
    .k884VXYdRXgBLJy-GB0Yi>div {
        padding: 2rem;
    }
    .ant-col-md-12 {
        display: block;
        flex: 0 0 50%;
        max-width: 50%;
    }
    // .ant-col-sm-0 {
    //      display: none; 
    // }
    // .ant-col-xs-0 {
    //      display: none; 
    // }
    // .ant-col {
    //     position: relative;
    //     max-width: 100%;
    //     min-height: 1px;
    // }
    * {
        transition: background-color .2s ease-in-out,margin .2s ease-in-out,opacity .2s ease-in-out,filter .2s ease-in-out,visibility .2s ease-in-out,transform .2s ease-in-out,border-color .2s ease-in-out;
    }
    *, :after, :before {
        box-sizing: border-box;
    }
    user agent stylesheet
    div {
        display: block;
    }
    style attribute {
        cursor: url(chrome-extension://jlgkpaicikihijadgifklkbpdajbkhjo/image/cursors/014@2.png), default;
    }
    body {
        color: var(--main-text-color);
        background-color: var(--bg);
        overflow-x: hidden;
        font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
        line-height: 1.75em;
    }
    body {
         --aside-padding-horizontal: 16px; 
         --primary-color: #4299e1; 
         --link-color: #4299e1; 
         --border-radius: 4px; 
         --bg: #fff; 
         --bg-second: #fff; 
         --rgb-bg-second: 255,255,255; 
         --bg-body: #e7eaee; 
         --bg-footer: #292525; 
         --bg-code: #f8f8f8; 
         --blockquote-color: #fff; 
         --main-text-color: rgba(0,0,0,0.85); 
         --second-text-color: rgba(0,0,0,0.65); 
         --disable-text-color: rgba(0,0,0,0.35); 
         --border-color: rgba(178,186,194,0.15); 
        --box-shadow: 0 1px 3px rgb(18 18 18/10%);
        --scrollbar-bg: #dadada; 
        --comment-editor-border-color: #d9d9d9;
        --comment-editor-btn-disable-bg: #f5f5f5;
    }
    body {
        margin: 0;
        color: #000;
        font-size: 14px;
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
        font-variant: tabular-nums;
        line-height: 1.5715;
        background-color: #fff;
        font-feature-settings: "tnum";
    }
    html {
        text-size-adjust: 100%!important;
        touch-action: manipulation;
    }
    html {
        --antd-wave-shadow-color: #0188fb;
        --scroll-bar: 0;
    }
    html {
        font-family: sans-serif;
        line-height: 1.15;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        -ms-overflow-style: scrollbar;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
    *, :after, :before {
        box-sizing: border-box;
    }
    *, :after, :before {
        box-sizing: border-box;
    }
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background: transparent;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 0;
        background-color: transparent;
        transition: all .2s;
    }
    ::-webkit-scrollbar-track {
        border-radius: 0;
        background: transparent;
    }
    ::selection {
        color: #fff;
        background: #0188fb;
    }
    .k884VXYdRXgBLJy-GB0Yi svg {
        width: 100%;
        height: 100%;
    }
    svg:not(:root) {
        overflow: hidden;
    }
    .k884VXYdRXgBLJy-GB0Yi>div:last-of-type {
        background: #f7fafb;
        display: inline-flex;
        align-items: center;
    }