.mail{
    width: 100%;
    height: 100%;
    background: #e7eaee;
    padding:20px;
    overflow:hidden;
    overflow-y: auto;
}

.articles_head {
  width: 100%;
  height: 130px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 24px 12px;

  input {
    width: 80%;
  }

  .articles_head_one {
    width: 80%;
    height: 50px;
    line-height: 50px;

    span {
      float: left;
    }

    .ant-select {
      width: 75%;
      float: left;
      margin-top: 8px;
    }

    .biaoti {
      width: 30%;
      float: left;
      margin: 0 15px;
    }
  }

  .articles_head_two {
    width: 100%;
    height: 50px;
    margin-top: 10px;

    button {
      margin: 0 10px;
      float: right;
    }
  }
}

.tables{
    background-color: white;
    padding: 20px 10px;
    margin-top: 10px;
}


.buttonight{
  float: right;
  margin-bottom: 10px;
}