
.Setting{
    width: 100%;
    height: 100%;
    background: #eee;
}
.heanderSet{
    width: 100%;
    height: 60px;
    background: #fff;
    border-top: 1px solid #ccc;
}
 .TabsSet{
     width: 1300px;
     height: 373px;
     background: #fff; 
     margin: 0 auto;
     margin-top: 30px;
 }
  
 
.ant-drawer-content-wrapper{
     width: 786px;
     background-color: #000;
 }

 .tables{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
   margin-top: 60px;
 }
 .tablestop {
  width: 15% !important; 
 }
 .tablestop>div>div{
   width: 85%; 
 }
 
.ant-card-body{
  height: 60px; 
}
 
 .site-tag-plus {
    background: #fff;
    border-style: dashed;
  }
  .edit-tag {
    user-select: none;
  }
  .tag-input {
    width: 78px;
    margin-right: 8px;
    vertical-align: top;
  }

  // 抽屉里的文件名 文件类
  .Drawer_one {
    margin: 0 auto;
    width: 95%;
    height: 130px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 24px 12px;
  
    input {
      width: 80%;
    }
  
    .Drawer_head_one {
      width: 80%;
      height: 50px;
      line-height: 50px;
  
      span {
        float: left;
      } 
    }
  
    .Drawer_head_two {
      width: 100%;
      height: 50px;
      margin-top: 10px;
  
      button {
        margin: 0 10px;
        float: right;
      }
    }
  }