.Setting {
  width: 100%;
  height: 100%;
  background: #eee;
}
.heanderSet {
  width: 100%;
  height: 60px;
  background: #fff;
  border-top: 1px solid #ccc;
}
.TabsSet {
  width: 1300px;
  height: 373px;
  background: #fff;
  margin: 0 auto;
  margin-top: 30px;
}
.ant-drawer-content-wrapper {
  width: 786px;
  background-color: #000;
}
.tables {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 60px;
}
.tablestop {
  width: 150px !important;
  height: 85px;
}
.ant-card-cover img {
  width: 150px;
  height: 85px;
}
.ant-card-body {
  padding: 4px !important ;
}
.site-tag-plus {
  background: #fff;
  border-style: dashed;
}
.edit-tag {
  user-select: none;
}
.tag-input {
  width: 78px;
  margin-right: 8px;
  vertical-align: top;
}
.Drawer_one {
  margin: 0 auto;
  width: 95%;
  height: 130px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 24px 12px;
}
.Drawer_one input {
  width: 80%;
}
.Drawer_one .Drawer_head_one {
  width: 80%;
  height: 50px;
  line-height: 50px;
}
.Drawer_one .Drawer_head_one span {
  float: left;
}
.Drawer_one .Drawer_head_two {
  width: 100%;
  height: 50px;
  margin-top: 10px;
}
.Drawer_one .Drawer_head_two button {
  margin: 0 10px;
  float: right;
}
