<template>
    <div class="goods">
        <div>
            <img :src="data.thumb" alt="" mode="widthFix"/>
            <p>
                <span>{{data.minOne.shopName}}</span>
                <span>{{data.minOne.distance | getDistance}}</span>
            </p>
        </div>
        <p>{{data.title}}</p>
        <p>
            <span>¥{{data.price}}</span>
            <span>¥{{data.AvgPrice}}</span>
            <span>已售{{data.saled}}</span>
        </p>
        <p>
            <span>{{data.sort_lis[0]}}</span>
        </p>
    </div>
</template>

<script>
export default {
    props: {
        data: {
            type: Object,
            default: ()=>{}
        }
    }
}
</script>

<style lang="scss" scoped>
.ad {
    position: relative;
    width: 100%;
    border-radius: 20rpx;
    overflow: hidden;
    &>img{
        width: 100%;
    }
    &>p{
        position: absolute;
        top: 30rpx;
        left: 20rpx;
        font-size: 20rpx;
        color: #fff;
    }
}
.info{
    position: absolute;
    bottom: 40rpx;
    left: 20rpx;
    color: #fff;
    img{
        width: 40rpx;
        height: 40rpx;
        border-radius: 50%;
        margin-right: 16rpx;
        vertical-align: -10%;
    }
}
</style>