<template>
    <div>
        <img :src="data.logo" alt="">
        <p>{{data.shopName}}</p>
        <p>
            <span>{{data.avgReview/10}}</span>
            <span>¥{{data.avgPrice}}/人</span>
        </p>
        <p>
            <span>{{data.styleCooking}}</span>
            <span>{{data.distance | getDistance}}km</span>
        </p>
        <p>
            <span>排队</span>
            <span>{{data.dalianFlag || '餐厅未到营业时间'}}</span>
        </p>
    </div>
</template>

<script>
export default {
    props: {
        data: {
            type: Object,
            default: ()=>{}
        }
    }
}
</script>

<style>

</style>