.rightlist2 h4{
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.rightlist2 li{
  display:inline-block;
  padding: 5px;
  margin: 5px;
  font-size: 13px;
}

.rightlist2 li:hover{
  color: red;
  cursor: pointer;
}

.rightlist2 li{
    display: flex;
    justify-content: space-between;
    margin: 5px;

}

.rightlist2 {
  margin-top: 20px;
    // position: sticky;
    // position: -webkit-sticky;
    // top:0;
}