.indextop{
    width:100%;
    height:20%;
    background-color: white;
    margin:auto;
}

.indextop ul li{
    display: inline-block;
    width: 30%;
    list-style: none;
    padding: 30px;
    input{
        width:80%;
        height: 28.51px;
    }
}

.indextop .indexrigth{
    float: right;
    button{
        margin:10px;
    }
}
