* {
  margin: 0;
  padding: 0;
}
.user {
  width: 100%;
  min-height: 100%;
  overflow-y: auto;
  background-color: #eee;
  padding: 15px 0;
}
.user_head {
  margin: 0 auto;
  width: 97%;
  height: 130px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 18px 10px;
}
.user_head input {
  width: 80%;
}
.user_head .user_head_one {
  width: 100%;
  height: 50px;
  line-height: 50px;
}
.user_head .user_head_one span {
  float: left;
}
.user_head .user_head_one .ant-select {
  width: 75%;
  float: left;
  margin-top: 8px;
}
.user_head .user_head_one .user_biaoti {
  width: 22%;
  float: left;
  margin: 0 15px;
}
.user_head .user_head_two {
  width: 100%;
  height: 50px;
  margin-top: 10px;
}
.user_head .user_head_two button {
  margin: 0 10px;
  float: right;
}
.user_main {
  width: 97%;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 20px 10px;
}
.user_main button {
  float: left;
  margin: 0 10px;
}
.user_main .user_main_one {
  width: 100%;
  height: 50px;
}
.user_main .user_main_one :last-child {
  float: right;
}
.ant-table-wrapper {
  height: 80%;
}
.ant-table-wrapper b {
  display: inline-block;
  width: 7px;
  height: 7px;
  line-height: 7px;
  border-radius: 7px;
  margin-right: 7px;
  color: #52c41a;
  background-color: #52c41a;
}
.ant-table-wrapper .lv {
  width: 25px;
  height: 25px;
  line-height: 25px;
  display: block;
  border-radius: 20px;
  text-align: center;
  color: #fff;
  background-color: #52c41a;
}
.ant-table-wrapper .hu {
  width: 25px;
  height: 25px;
  line-height: 25px;
  display: block;
  border-radius: 20px;
  text-align: center;
  color: #fff;
  background-color: #eb2f96;
}
.ant-pagination-item-active {
  margin-left: 20px;
}
.ant-row {
  line-height: 45px;
}
